<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft-Windows10-APICodePack-Core" version="1.1.8" targetFramework="net48" />
  <package id="Microsoft-Windows10-APICodePack-Sensors" version="1.1.8" targetFramework="net48" />
  <package id="Microsoft-Windows10-APICodePack-Shell" version="1.1.7" targetFramework="net48" />
  <package id="Microsoft-Windows10-APICodePack-ShellExtensions" version="1.1.7" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core-6.0" version="1.1.7" targetFramework="net48" />
  <package id="Net4x.Microsoft-WindowsAPICodePack-Core" version="1.2.0" targetFramework="net48" />
  <package id="Revit_All_Main_Versions_API_x64" version="2024.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="WinCopies.Util" version="2.19.0" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.COMNative" version="2.12.0" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.Consts" version="2.12.0" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.Win32Native" version="2.12.0" targetFramework="net48" />
  <package id="WindowsAPICodePackCore" version="8.0.9" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net48" />
</packages>